
body { 
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  background-color: #f8faff;
}

input{
    text-align: center;
}


  #board { 
    width: 500px;
    border-collapse: collapse;
    table-layout: fixed;
}
  td {
    border: 6px solid #222;
    height: 100px;
  }

  td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
  }
  td:nth-of-type(2) {
    border-top-color: transparent;
  }
  td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }
  tr:nth-of-type(3) td {
    border-bottom-color: transparent;
  }